body{
    font-family: 'Roboto Condensed', sans-serif;
    background: url('clouds.jpg');
}
.width-100 {
    width: 100px;
}

.img-center {
    display: block;
    margin: 0 auto;
    width: 100px;
}

.card {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    padding-top: 20px;
}

.special {
    border-radius: 0 !important;
    height: 60px;
    margin-top: 20px;
}

.btn-center {
    display: block;
    margin: 0 auto;
}
